annotated-types==0.7.0
asgiref==3.11.1
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.4
deepdiff==8.6.1
Django==5.2.10
django-cors-headers==4.9.0
djangorestframework==3.16.1
hiredis==3.3.0
idna==3.11
markdown-it-py==4.0.0
mdurl==0.1.2
newrelic-telemetry-sdk==0.9.0
orderly-set==5.5.0
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg-pool==3.3.0
psycopg2==2.9.11
psycopg2-binary==2.9.11
psycopg2-pool==1.2
pybreaker==1.4.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.11.0
python-dotenv==1.2.1
redis==6.4.0
requests==2.32.5
rich==14.3.2
sqlparse==0.5.5
tools-box @ git+https://github.com/OtomashenGit/komp-tools-box.git@460e6346acda4d23f9de5e0089a977fed6756466
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
